$primary-color: #03A66A;
$text-color: #03A66A;
$secondary-color: #03A66A;
$gray-bg: #161426;
$gray-secondary-bg: #D9D9D9;

// $primary-color: #A3A0D7;
// $text-color: #05F29B;
// $secondary-color: #03A66A;
// $gray-bg: #161426;
// $gray-secondary-bg: #D9D9D9;