<app-default-login-layout
  [primaryBtnText]="'Cadastrar'"
  [secondaryBtnText]="'Voltar'"
  (submit)="submit()"
  (navigate)="navigate()"
  [disablePrimaryBtn]="!signupForm.valid"
>
  <h1 class="signup-title">Cadastro de Profissionais da Saúde</h1>

  <div class="formulario-profissional">
    <form [formGroup]="signupForm">
      <!-- Nome -->
      <app-primary-input
        formControlName="name"
        inputName="name"
        type="text"
        label="Nome Completo"
      >
        <img src="/assets/svg/user-icon.svg" alt="Ícone de nome" />
      </app-primary-input>

      <!-- Telefone -->
      <app-primary-input
        formControlName="phone"
        inputName="phone"
        type="text"
        label="Telefone"
        placeholder="(81) 90000-0000"
      >
        <img src="/assets/svg/phone-icon.svg" alt="Ícone de telefone" />
      </app-primary-input>

      <!-- CPF -->
      <app-primary-input
        formControlName="cpf"
        inputName="cpf"
        type="text"
        label="CPF"
        placeholder="111.000.111-00"
      >
        <img src="/assets/svg/cpf-icon.svg" alt="Ícone de CPF" />
      </app-primary-input>

      <!-- Data de Nascimento -->
      <app-primary-input
        formControlName="birth"
        inputName="birth"
        type="text"
        label="Data de Nascimento"
        placeholder="09/08/2005"
      >
        <img src="/assets/svg/calendar-icon.svg" alt="Ícone de calendário" />
      </app-primary-input>

      <!-- Email -->
      <app-primary-input
        formControlName="email"
        inputName="email"
        type="email"
        label="Email"
        placeholder="exemplo@dominio.com"
      >
        <img src="/assets/svg/email-icon.svg" alt="Ícone de email" />
      </app-primary-input>

      <!-- Senha -->
      <app-primary-input
        formControlName="password"
        inputName="password"
        type="password"
        label="Senha"
      >
        <img src="/assets/svg/password-icon.svg" alt="Ícone de senha" />
      </app-primary-input>

      <!-- Confirmação de Senha -->
      <app-primary-input
        formControlName="passwordConfirm"
        inputName="passwordConfirm"
        type="password"
        label="Confirme sua Senha"
      >
        <img src="/assets/svg/password-icon.svg" alt="Ícone de confirmação de senha" />
      </app-primary-input>
    </form>
  </div>
</app-default-login-layout>
